{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import photo_card with context %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='images/index.jpg') }}" class="rounded img-fluid">
            </div>
            <div class="col-md-4 align-self-center">
                <h1>西华大学</h1>
                <h4 class="right">课堂智能点名系统</h4>
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('index_auth.login') }}">进入</a></p>
            </div>
        </div>
    </div>
{% endblock %}
