{% extends 'base.html' %}

{% block title %}同学你好{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">  <div class="col-2">
        {% include 'admin/admin_sider.html' %}
  </div>
        <div class="col-10">
            <table class="table table-hover">
				<thead>
					<tr>
						<th>学号</th>
						<th>姓名</th>
						<th>所属班级</th>
						<th>状态</th>
                        <th>操作</th>
					</tr>
				</thead>
                {% for student in students %}
				<tbody>
					<tr>
						<td>{{ student.id }}</td>
						<td>{{ student.name }}</td>
						<td>{{ student.banji.name }}</td>
						<td>正常</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="{{ url_for('.edit_stu', stu_id=student.id) }}">编辑</a>
                            <form class="inline" method="post" action="{{ url_for('.delete_stu', id=student.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">删除</button>
                            </form>
                        </td>
					</tr>
				</tbody>
                {% endfor %}
			</table>
        <button type="button" class="btn btn-dark btn-sm"><a style="color: white" href="{{ url_for('index_admin.add_stu') }}">添加学生</a></button>
        </div>
    </div>
    </div>

{% endblock %}